
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{#if successMessage}}
      <div style="color: green;">{{successMessage}}</div>
    {{/if}}

    {{#if errorMessage}}
      <div style="color: red;">{{errorMessage}}</div>
    {{/if}}

    {{{body}}}
</body>
</html>
